<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894750299831-tl24k7mt32lokpv7tsfuktk67gtci0qe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894750299831-tl24k7mt32lokpv7tsfuktk67gtci0qe</string>
	<key>API_KEY</key>
	<string>AIzaSyD7_DrukNvyMV3rZPM9cgAD4VWae-AaZ-E</string>
	<key>GCM_SENDER_ID</key>
	<string>894750299831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.flutterNamingConvention</string>
	<key>PROJECT_ID</key>
	<string>fluttersampleapp-959a2</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersampleapp-959a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894750299831:ios:0d0e9e7059c4cc9b9d1f32</string>
	<key>DATABASE_URL</key>
	<string>https://fluttersampleapp-959a2.firebaseio.com</string>
</dict>
</plist>